<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-video-trimmer" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-video-trimmer</name>
    <description>Cordova cordova-plugin-video-trimmer Plugin</description>
    <author>350561378@qq.com</author>
    <license>Apache License Version 2.0</license>
    <keywords>cordova,video,video trimmer</keywords>
    <preference name="APPID" />
    <preference name="PACKAGENAME" />
    <dependency id="cordova-plugin-device" />
    <js-module name="CordovaHuaweiHMS" src="www/cordova-plugin-video-trimmer.js">
        <clobbers target="cordova.plugins.video.trimmer" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaHuaweiHMS">
                <param name="android-package" value="com.waitaction.huaweipush.CordovaHuaweiHMS" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.NoActionBar" />
            <meta-data android:name="com.huawei.hms.client.appid" android:value="appid=$APPID"></meta-data>
            <provider android:name="com.huawei.hms.update.provider.UpdateProvider" android:authorities="$PACKAGENAME.hms.update.provider" android:exported="false" android:grantUriPermissions="true"></provider>
            <receiver android:name="com.waitaction.huaweipush.HuaweiPushReceiver">
                <intent-filter>
                    <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                    <action android:name="com.huawei.android.push.intent.RECEIVE" />
                    <action android:name="com.huawei.android.push.intent.CLICK" />
                    <action android:name="com.huawei.intent.action.PUSH_STATE" />
                </intent-filter>
                <meta-data android:name="CS_cloud_ablitity" android:value="successRateAnalytics"></meta-data>
            </receiver>
            <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
                <intent-filter>
                    <action android:name="com.huawei.intent.action.PUSH" />
                </intent-filter>
            </receiver>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <source-file src="src/android/lib/HMS_SDK_2.6.1.301.jar" target-dir="libs"/>
        <source-file src="src/android/CordovaHuaweiHMS.java" target-dir="src/com/waitaction/huaweipush/" />
        <source-file src="src/android/HuaweiPushReceiver.java" target-dir="src/com/waitaction/huaweipush/" />
 
    </platform>
</plugin>